 .list{
    width: 100%;
    
    
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
} 
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    
    
}